h1 {
    color: blanchedalmond;
}

h2 {
    color:goldenrod;
    
}

body {
    background-color:#9b2718;
}

p {
    color:azure;
}

button {
    background-color: goldenrod;
    color:azure;
}

a {
    background-color: black;
    color:azure;
}